<turbo-stream action="update" target="log-output">
    <template>
        <div>
            <if logs.present? %>
                <% logs.each do |line| %>
                    <p><%= line %><p>
                <% end %>
            <% else %>
                <p>No logs available yet.</p>
            <% end %>
        </div>
    </template>
</turbo-stream>